/* global css */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;600&family=Courgette&display=swap');

header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.background-video {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -99999;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.job-box {
  background-color: rgba(0, 0, 0, 0.28);
  transition: 300ms;
}

.job-box:hover {
  background-color: rgba(0, 0, 0, 0.5);
}



.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* max-height: 20vh; */
  display: flex;
  flex-flow: row wrap;
  padding: 13px 30px 0px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer>* {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-weight: 400;
  font-size: 2.8rem;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer a {
  text-decoration: none;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}




