*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #9BBDC6;
  font-family: 'Catamaran', sans-serif;
  height: 100vh; /* Set the body height to full viewport height */
  margin: 0;
  display: flex;
  flex-direction: column;
}

.appRoutes {
  flex: 1; /* This makes the content take up all available vertical space */
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}